
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .header {
        background-color: rgb(203, 31, 238);
        padding: 10px;
        color: white;
    }

    .search{
        margin-top: 20px;
        display: flex;
        gap:2rem;
        justify-content: space-around
    }
    .search input{
        outline: none;
        padding: 10px 25;
    }

    .search button{
        color:white;
        outline: none;
        border:none;
        padding:10px;
        cursor: pointer;
        background-color:rgb(203, 31, 238) ;
    }

    h4{
        margin-top: 30px;
        padding:10px;
        color:rgb(203, 31, 238);
        font-weight: 400;
    }
    p{
        padding:10px;
        margin-top: 40px;
        margin-bottom: 10px;

    }
    ul{
        padding:30px;
    }
